<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
  </head>

  <body>
    <h1>My Todo List</h1>
    <div id="tododiv">
      <ul id="todoul">
      </ul>
      <hr>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.1/addons/p5.dom.js"></script>
    <script>

var todos = [];

function preload(){
  var url = "{% url "todo:get_todo" %}";
  loadJSON(url, readJSON);
//  httpGet(url, "json", readJSON);
}

function setup(){}
function draw(){}

function readJSON(data){
  for(var item of data) {
    item.due = new Date(item.due);
    todos.push(item);
    createBullet(item);
  }
}

function createBullet(item) {
  item.el = createElement("li", item.task);
  item.el.parent("todoul");
  item.el.mouseClicked(changeStatus.bind(item));
  if(item.done){
    item.el.style("text-decoration: line-through; color: red");
  }
}

function changeStatus(){
  this.done = !this.done;
  if(this.done){
    this.el.style("text-decoration: line-through; color: red");
  } else {
    this.el.style("text-decoration: none; color: black");
  }
}
    </script>
  </body>
</html>
